<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete Course</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'courses/css/style2.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <h2>Are you sure you want to delete the following course?</h2>
            <h4>Name: {{ course.name }}</h4>
            <h4>Description: {{ course.course_desc_id }}</h4>
            <a href="/" class="btn btn-primary">No</a>
            <form action="/remove" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ course.id }}">
                <input class="btn btn-danger" type="submit" value="Yes delete this course">
            </form>
        </div>
    </body>
</html>